/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Playfair', serif; */
@import url("components/about-me.css");
@import url("components/social-media-links.css ");
@import url("components/table.css");

h1,h2,h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.container{
  font-family: 'Open Sans', sans-serif;
}
.faded-heading{
  color: #6c757d;
}
.btn-outline-success{
  color: black;
}
